/** ダッシュボードCSS */

/** container */
/* 全体 */
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}
dt {
    float: left;
    clear: left;
    margin-right: 0.5em;
    width: 120px;
}
.card {
    box-shadow: 3px 3px 3px gray;
}
.h-100 {
    height: 100%!important;
}
.col-md {
    margin: 0 1rem;
    margin-bottom: 15px;
}

/* メニュー */
.menu-field {
    margin: 0px auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* ステータス */
.status-field {
    margin-bottom: 30px;
}
.status-field a {
    color: #0d6efd;
}
.status-field a:hover {
    color: #0a58ca;
}
.item {
    display: flex;
}
.progress {
    width: 50vw;
}

/* カレンダー */
table {
    width: 100%;
}
table th {
    background: #EEEEEE;
}
table th,
table td {
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 5px;
}
.today {
    background-color: palegreen;
}